@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .menu-bars {
    display: block;
  }
}
header .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .menu {
    display: block;
  }
}
@media (min-width: 2500px) {
  header {
    max-width: 2048px;
  }
}
header .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .top-menu {
    justify-content: space-between;
  }
}
header .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .top-menu .contact-information {
    display: flex;
  }
}
header .top-menu .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .top-menu .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .top-menu .content-box.last {
  border: none;
}
header .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .social-media a:hover {
  color: #7c7c7c;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
.main-menu nav a.active {
  font-weight: 500;
}
.main-menu nav a.active::after, .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.partner-logos .images {
  display: flex;
  justify-content: center;
  justify-items: right;
}
.partner-logos .images img {
  margin: 55px;
  padding-top: 45px;
  padding-bottom: 60px;
}

.container-features {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-features .features {
  padding-bottom: 160px;
  padding-right: 190px;
  padding-top: 50px;
}
.container-features .features .left-side h5 {
  padding-bottom: 5px;
  margin-right: 10px;
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.container-features .features .left-side h2 {
  margin-bottom: 65px;
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.container-features .features .learn-more {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 165px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.container-features .features .learn-more i {
  margin-left: 8px;
  font-size: 0.9em;
}
.container-features .features .learn-more:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}
.container-features .four-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-left: 30px;
}
.container-features .four-pictures .article h4 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.container-features .four-pictures .article p {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.about-company {
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
}
.about-company .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 0px;
}
.about-company .container .about-image {
  display: flex;
  padding-left: 100px;
  position: relative;
}
.about-company .container .about-image .founder-picture {
  width: 530px;
  height: 615px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-company .container .about-image .image-text {
  background-color: #BEEBFF;
  position: absolute;
  width: 368px;
  height: 180px;
  bottom: 40px;
  margin-left: -56px;
}
.about-company .container .about-image .image-text h3 {
  padding-left: 24px;
  padding-top: 30px;
  color: #191919;
  font-size: 20px;
  font-weight: 800;
  font-family: "DM Sans", sans-serif;
}
.about-company .container .about-image .image-text h3 span {
  color: #F94D1C;
}
.about-company .container .about-image .image-text p {
  padding-left: 24px;
  padding-top: 20px;
  font-family: "Inter", sans-serif;
  color: #191919;
  font-size: 16px;
}
.about-company .container .about-text {
  display: flex;
  margin-right: 20px;
  margin-left: 120px;
  margin-right: 0px;
}
.about-company .container .about-text h3 {
  color: RGBA(25, 25, 25, 0.7);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  padding-top: 37px;
  line-height: 2;
}
.about-company .container .about-text .about-buttons {
  padding-top: 70px;
  display: flex;
  align-items: center;
}
.about-company .container .about-text .about-buttons .btn-play {
  display: flex;
  border: none;
  color: #191919;
  padding-left: 20px;
  align-items: center;
}
.about-company .container .about-text .about-buttons .btn-play a {
  font-size: 35px;
  padding-left: 20px;
  text-justify: center;
  color: #191919;
}
.about-company .container .about-text .about-buttons .btn-play p {
  color: #191919;
  padding-left: 15px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.our-service {
  background-color: #F0EFE9;
  position: relative;
}
.our-service .background-lines-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.our-service .container {
  padding-bottom: 110px;
}
.our-service .section-title {
  display: block;
  padding-left: 80px;
  padding-right: 600px;
  padding-bottom: 45px;
}
.our-service .services {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 30px;
  padding-left: 80px;
}
.our-service .services .service-content {
  display: block;
  margin-bottom: 45px;
  background-color: #ffffff;
  position: relative;
}
.our-service .services .service-content .box {
  width: 35px;
  height: 35px;
  position: absolute;
  border-top: 2px solid #191919;
  left: 30px;
  top: 45px;
}
.our-service .services .service-content .content-text {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  margin-bottom: 90px;
  position: relative;
}
.our-service .services .service-content .content-text h3 {
  color: #191919;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
}
.our-service .services .service-content .content-text p {
  color: RGBA(25, 25, 25, 0.7);
  font-size: 13px;
  font-family: "Inter", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}
.our-service .services .service-content .content-text a {
  font-size: 15px;
  background-color: #191919;
  padding: 10px 13px;
  border-radius: 50px;
  color: #ffffff;
  position: absolute;
  right: 30px;
}
.our-service .services .service-content:hover {
  background-color: #F9D783;
}
.our-service .services .service-content:hover a {
  background-color: #Ffffff;
  color: #191919;
}

.why-choose-us {
  width: 1600px;
  padding-top: 60px;
}
.why-choose-us .container {
  display: grid;
  grid-template-columns: 550px 1090px;
  position: relative;
  height: 630px;
  padding: 0px;
}
.why-choose-us .container .text {
  padding-bottom: 10px;
}
.why-choose-us .container .text .section-title {
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 20px;
}
.why-choose-us .container .text .reasones-iteam {
  display: grid;
  grid-row: 4;
}
.why-choose-us .container .text .reasones-iteam .list {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 25px;
}
.why-choose-us .container .text .reasones-iteam img {
  display: flex;
}
.why-choose-us .container .text .reasones-iteam i {
  font-size: 30px;
  padding: 10px;
  border: 1px solid #DADAD3;
  border-radius: 50px;
  padding: 13px;
}
.why-choose-us .container .text .reasones-iteam .list-text {
  display: block;
  padding-left: 10px;
}
.why-choose-us .container .text .reasones-iteam .list-text a {
  text-decoration: none;
}
.why-choose-us .container .text .reasones-iteam .list-text a:hover {
  text-decoration: underline;
  color: #191919;
}
.why-choose-us .container .text .reasones-iteam .list-text h3 {
  color: #191919;
  font-size: 25px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
.why-choose-us .container .text .reasones-iteam .list-text p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #191919;
}
.why-choose-us .container .background {
  width: 1060px;
  height: 425px;
  background-color: #F0EFE9;
  position: absolute;
  bottom: 0;
}
.why-choose-us .container img {
  position: absolute;
  width: 635px;
  padding-top: 30px;
  padding-left: 100px;
}

.project-and-case-section .container .section-title {
  text-align: center;
}
.project-and-case-section .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case-section .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case-section .container .project-and-cases article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.project-and-case-section .container .project-and-cases article img {
  width: 645px;
  height: 311px;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-and-case-section .container .project-and-cases article h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DADAD3;
}
.project-and-case-section .container .project-and-cases article a {
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
  padding: 15px;
}
.project-and-case-section .container .project-and-cases article a i {
  margin-left: 5px;
}
.project-and-case-section .container .project-and-cases article:hover {
  text-decoration: underline;
}
.project-and-case-section .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}