html, body {

    header {
        background-color: #F0EFE9;
        padding: 16px;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 70px;
        }

        .menu-bars {
            font-size: 25px;
        }


    }
}
